* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

@font-face {
  font-family: aliensAndCows;
  src: url("assets/aliens and cows_trial.ttf");
}

body {
  font-family: "Aliens and Cows", sans-serif;
  src: url("assets/aliens and cows_trial.ttf");
}



/* Header */
#header {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10%;
}


#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

.nav-bar ul li {
  list-style-type: none;
  display: inline;
  font-size: 2rem;
  font-weight: 500;
  padding: 50px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.nav-bar ul li a:hover {
	text-decoration: underline white;
}

.homeheader .nav-bar ul li a {
  text-decoration: none;
  color: black;
}

.homeheader .nav-bar ul li a:hover {
	text-decoration: underline black;
}

footer {
	color: gray;
	background-color: white;
	display: flex;
  font-family: "Aliens and Cows", sans-serif;
  justify-content: center;
  width: 100%;
	font-size: 2em;
	height: 85px;
}

p {
  color: gray;
	display: inline;
  font-family: "Aliens and Cows", sans-serif;
	padding: 30px 0 30px 15%;
}

.stoopid-font {
	font-family: 'Six Caps', sans-serif;
	font-size: .7em;
	font-weight: bolder;
	letter-spacing: .2em;
	padding: 33px 10% 30px 10px;
}


/*==================================Episode PAGE======================*/


/* Hero Banner */
.episode-banner {
  background-image: url("images/ep-bkg.png");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episode-banner h1 {
    font-size: 3em;
    color: #ffffff;
}

.episode-banner h2 {
    font-size: 2em;
    margin-top: 15px;
    color: #480d0a;
}


/* Page Background */
#episodes {
  background-image: url("images/ep-pattern.jpg");
  background-position: center;
  background-size: contain;
  padding: 10% 5%;
}

/* Episode Cards */
#ep-guide {
  max-width: 425px;
  margin: 0 auto;
}

.ep-card {
  margin: 10% 5%;
  background-color: #ffffff;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.ep-card img {
    width: 100%;
}

.ep-card img:hover {
    opacity: 60%;
    transition: .5s ease;
}

.ep-card:hover {
  background-color: #d4d4d4;
  transition: 1s ease;
}

.ep-card h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 5% 0;
    color: #1f1f1f;
}

.ep-card p {
    text-align: center;
    padding: 5%;
    margin-bottom: 20px;
    font-family: '', serif;
    color: #0d0102;
}



@media (min-width: 800px) {
  .episode-banner {
    height: 70vh;
  }

  .episode-banner h1 {
      font-size: 4em;
  }

  .episode-banner h2 {
      font-size: 2.5em;
  }

  #ep-guide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
  }

  .ep-card {
    flex-basis: 27.33%;
    margin: 1% 1% 50px;
    padding: 2%;
  }


}
/*==================================EPISODES PAGE======================*/


/*==================================CHARACTERS PAGE======================*/



.section-title {
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 12px;
  color: #d4d4d4;
  background-color: #0d0102;
  padding-top: 10px;
}

.character-title {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 10px;
  padding-top: 50px;
  text-align: center;
  color: #d4d4d4;
}

p {
  color: #d4d4d4;
  font-family: 'New Tegomin', serif;
  /* font-size: 1rem;
  letter-spacing: 2px;
  line-height: 20px; */
}


/* Hero Banner */
.character-banner {
  background-image: url("images/characters-background.png");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.banner-content {
  color: #ffff;
  width: 55%;
  padding-top: 170px;
}


/* **************Character Info************* */



.container {
  width: 100vw;
  height: 100vh;
  background-color: #0d0102;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.box1 {
  width: 350px;
  height: 610px;
  background-color: #1e1e26;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
  padding: 10px;
  background-image: url("images/agatha.png");
  background-size: 380px 380px;
  background-repeat: no-repeat;
  background-position: -100px -40px;
}

.box2 {
  width: 350px;
  height: 610px;
  background-color: #1e1e26;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
  padding: 10px;
  background-image: url("images/wanda.png");
  background-size: 380px 380px;
  background-repeat: no-repeat;
  background-position: -100px -40px;
}

.box3 {
  width: 350px;
  height: 610px;
  background-color: #1e1e26;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
  padding: 10px;
  background-image: url("images/monica.png");
  background-size: 380px 380px;
  background-repeat: no-repeat;
  background-position: -100px -40px;
}

.box4 {
  width: 350px;
  height: 610px;
  background-color: #1e1e26;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
  padding: 10px;
  background-image: url("images/Vision2.png");
  background-size: 380px 380px;
  background-repeat: no-repeat;
  background-position: -100px -40px;
}

.box:hover {
  background-color: #17171d;
  transform-style: preserve-3d;
  transform: scale(1.02);
  transition: all ease 0.3s;
}

.box:hover .characters {
  color: #c0292b;
  transition: all ease 0.5s;
}

.model {
  height: 350px;
  max-width: 100%;
  max-height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.content p {
  text-align: justify;
}

.characters {
  font-family: "Aliens and Cows", sans-serif;
  src: url("assets/aliens and cows_trial.ttf");
  font-size: 2rem;
}




/* START MEDIA QUERIES */

@media (max-width: 720px){
  .box {
    width: 94%;
    height: 500px;
  }

  .model {
    height: 250px;
  }

  .details p {
     font-size: 14px;
     width: 250px;
  }

  .section-title {
    font-size: 2rem;
  }
}




/* CODE FOR INITIAL DESIGN */
/* #agatha-info {
  background-color: #0d0102;
  background-image: url("images/agatha.png");
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: -10px 130px;
  width: 100vw;
  height: 60vh;
}

.content {
  text-align: right;
  margin: 5%;
  margin-left: 36%;
  max-width: 550px;
  position: absolute;
  display: flex;
} */



/* START MEDIA QUERIES */
/* @media (min-width: 320px){
  .section-title {
    font-size: 2rem;
  }

  .character-title {
    font-size: 3.2rem;
    padding-top: 20px;
  }

  #agatha-info {
    background-size: 310px 310px;
    background-position: left bottom;
    width: 100vw;
    height: 80vh;
  }
} */

/* @media (min-width: 375px){
  .section-title {
    font-size: 2rem;
  }

  .character-title {
    font-size: 3.2rem;
    padding-top: 20px;
  }

  #agatha-info {
    background-size: 310px 310px;
    background-position: left bottom;
    width: 100vw;
    height: 65vh;
  }
}

@media (min-width: 768px){
  #agatha-info {
    background-size: 300px 300px;
    background-position: left bottom;
    width: 100vw;
    height: 35vh;
  }

} */

/* @media (min-width: 900px){
  #agatha-info {
    background-size: 450px 450px;
    background-position: left bottom;
    width: 100vw;
    height: 80vh;
  }

  .content {
    text-align: right;
    font-size: 2.2rem;
    line-height: 40px;
    margin: 5%;
    margin-left: 30%;
    max-width: 700px;
    position: absolute;
    display: flex;
  }

  .section-title {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 12px;
    color: #d4d4d4;
  }
} */


/*==================================CHARACTERS PAGE======================*/
